.img-detail {
    width: 30rem;
}

.detailTitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.descriptionDetail {
    font-size: large;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.button-contador {
    background-color: #a5503c;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}

.button-contador:hover {
    border: 1px solid #a5503c;
    color: #a5503c;
    background-color: transparent;
}

.button-addCart {
    background-color: #a5503c;
    color: white;
    border: 1px solid;
    border-radius: 5px;
}